<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>BOML!ve</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Atharv Sharma">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/book.css">
  <link rel="stylesheet" href="../css/qty.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="/">
    <img src="/images/logo.png" alt="Global">
    <p>BOML!ve</p>
  </a>
  <p class="device-notification--message">BOML!ve has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container">
    <div id="viewport" class="l-viewport" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="/">
            <img src="/images/logo.png" alt="BOML!ve" style="width: 100%;
                  max-width: 150px;
                  height: auto;
                  border: 2px solid black;
                  border-radius: 5px;">
            <p>BOML!ve</p>
          </a>
        </header>

        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <h2>Events</h2>
              <div class="intro--banner">
                <div class="band">
                  <!-- grid item, containing a card -->
                  <div class="item-1">
                    <div class="trigger">
                        <a rel="modal:open" class="card">
                            <div class="thumb" style="background-image: url(/images/swain.webp);"></div>
                            <article>
                              <h1>Bloody Swain Ft. Rohit Swain</h1>
                              <span>August 31st | 7:30PM<br/>Effe Cafe, Indore<br/>₹ 199</span>
                              <form method="POST" action="/order" >
                                <input type="hidden" name="itemId" value="RSTicket">
                                <input type="hidden" name="amount" value="19900">
                                <input type="hidden" name="itemDesc" value="Rohit Swain : Comedy Show">
                                <input type="hidden" name="dnt" value="August 31st | 7:30PM">
                                <input type="hidden" name="venue" value="Effe Cafe, Indore">
                                <div class="quantity">
                                  <input type="number" name="qty" min="1" max="9" step="1" value="1">
                                </div>
                                <br><br>
                                <button type="submit">Submit</button>
                              </form>
                            </article>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
</div>
</div>
</div>
</div>
<script>
  var $payBundle = $('.js-pay-bundle');

$payBundle.on('click', function() {
 var itemId = $(this).data('itemid'),
     qty = prompt("Enter Quantity"),
     amnt = ($(this).data('amount'))*qty;

     order(itemId,amount);
});

jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });
</script>
<script>window.jQuery || document.write('<script src="../js/vendor/jquery-2.2.4.min.js"><\/script>')</script>



</body></html>

